.intro__text {
	position: relative;
	margin: 0 0 33px;
	max-width: 690px;
	width: 100vw;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 163%;
	/* or 26px */
	color: #FFFFFF;
}

@media screen and (max-width: 320px) {
	.intro__text {
		max-width: 288px;
	}
}