.place__website {
  justify-content: end;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 320px) {
  .place__website {
    justify-self: center;
    width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .place__website {
    justify-self: auto;
    width: 100%;
  }
}

